 body{
  overflow-x: hidden;
  font-family: font-family-base;

 }
 .card-bodyi{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #009688;
  height: 400px;
 }

 .logo-bakeli{
  width: 25%;
  height: auto;
  padding: 5%;
 }
 #nav-link{
  background: #FF9800;
} 

.fa-sharp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;
}
/* -----------------------------section1------------------------------------------------- */
.section1{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 80%;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 4%;
    margin-top: 4%;
  
}

.droite{
    background: linear-gradient(90deg, rgba(13, 66, 61, 0.9) -22.84%, rgba(12, 199, 181, 0.9) 138.88%);
    height: 400px;
    width: 45%;
    margin-left: 3%;
}
.btn1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;
    margin-top: 8%;
}
#btn1{
  border-radius: 10px;
  background: #F44336;
 
}
.paragraphe1{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    font-weight: bold;
    margin-top: 15%;
}
.gauche{
   width: 400px;
}
.groupe-31{
    width: 650px;
    height: 600px;
    margin-top: -25%;
    margin-left: -20%;
}
/* -------------------------------section2---------------------------------------------------- */
/* ooooooooooooooooooooooooooooooooooooooooooooooo */
.left .card {
  display: flex;
  flex-direction: column;
  background-color: #009688;
  padding: 37px;
  color: white;
  height: 100%;
}
.bt1{
  display: flex;
 margin: auto;
  justify-content: center;
  background-color: #F44336;
}
.cont{
  display: flex;
}
#body-vert{
  background-color: #009688;
}
/* finoooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo */
#card{
  margin-left: 4%;
}
#card-bo1{
  background-color: #009688;
  height: 490px;
}
#card-bo2{
  height: 490px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* -------------------------------------------a suprimer en bas---------------------------- */

/* oooooooooooooooooooooooooooooooooooooooooooo */
 #bas{
  height: 490px;
 }

 #footerrr{
  background-color: #009688;
 }
/* oooooooooooooooooooooooooooooooooooooooooooooo */
#section2-r{
  display: flex;
  justify-content: center;
  gap: 4%;
  height: 100%;
  margin-left: 2%;
}
.navbar-toggler{
  margin-left: auto;
}

#gauche1{
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 500px;
  background-color: #009688;
  border-radius: 10px;
  font-weight: bold;
}
#droite1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #009688;
  border-radius: 20px;
  gap: 7%;
  width: 40%;
  height: 500px;
}
.formation{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5%;
  width: 45%;
  padding: 5%;
  color: white;
}
.les-icones{
  display: flex;
  flex-wrap: wrap;
   justify-content: space-around;
   gap: 5%;
}
#section2-1{
  display: flex;
  background: #009688;
  flex-wrap: wrap;
  width: 30%;
  height: 500px;
  left: 64px;
  border-radius: 25px;
}
.titre1{
    font-size: 25px;
    padding: 10%;
}
.programations{
    display: flex;
    justify-content: space-between;
}
.formation{
    gap: 10%;
}
.Programation{
    width: 49px;
    height: 49px;
    top: 1053px;
    left: 126px;
    padding: 1.94px 0px 1.94px 0px;
    gap: 0px;
    opacity: 0px;
}
#section2-2{
width: 40%;
height: 100%;
top: 845px;
left: 64px;
gap: 0px;
opacity: 0px;

}
#sec2{
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
}
#section2-1{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section2-2{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
gap: 10%;
background: #FFFFFF;
width: 50%px;
height: 500px;
left: 859px;
gap: 0px;
border-radius: 20px 20px 20px 20px;
border: 1px solid #009688;;
opacity: 0px;

}

/* -------------------------section3---------------------------------------- */
#section3{
  padding: 4%;
  margin-top: 2%;
}
#section3-r{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2%;
  margin-top: 3%;
 }
 #cours1{
  display: flex;
  flex-direction: column;
  align-items: center;
  border : 1px solid #F44336;
  color: #F44336;
  justify-content: center;
  border-radius: 20px;
  width: 23%;
  gap: 3%;
 }
 #cours2{
  display: flex;
  flex-direction: column;
  align-items: center;
  border : 1px solid #009688;
  color: #009688;
  justify-content: center;
  border-radius: 20px;
  width: 23%;
  gap: 3%;
 }
 #cours3{
  display: flex;
  flex-direction: column;
  align-items: center;
  border : 1px solid #FF9800;
  color: #FF9800;
  color: #009688;
  justify-content: center;
  border-radius: 20px;
  width: 23%;
  gap: 3%;
 }


.galerie1{
  width: 100%;
  height: auto;
}
#h-c4{
  font-size: 10px;
}

/* ---------------------------------------------------section4----------------------------------------- */

/* oooooooooooooooooooooooooooooooooooooo */
/* .diplôme{
  background: #F44336;
  /* couleur d'arrière-plan : rgb(244, 67, 54); */

  .me-3{
    height: 30%;
  }

.diplôme img{
  width: 30px ;
  height: 30px;
  
} */
/* ooooooooooooooooooooooooooooooooooooooo */
#sec4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 55rem;
  width: 100%;
  position: relative;
  color: #FFFFFF;
  background: #F44336;
 }
 .custom-shape-divider-bottom-1718109654 {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1718109654 svg {
    position: relative;
    display: block;
    
    height: 150px;
}

.custom-shape-divider-bottom-1718109654 .shape-fill {
    fill: #FFFFFF;
}
 .img-sec4{
width: 43px;
height: 43px;
top: 2022px;
left: 74px;
padding: 0px 1.26px 0px 1.26px;
gap: 0px;
opacity: 0px;
margin-top: -50%;
 }
 .deux4{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2%;
 }
 .dipl,
 #block{
  margin-left: 10%;
 }
 .dipl{
  margin-top: -7%;
 }
 #img-sec4{
  margin-top: -10%;
 }
 /* ---------------------------------------------section5--------------------------------- */
 .section5{
    width: 100%;
    padding: 4%;
 }
 #section3-rf{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 3%;
 }
 #btnb{
  width: 10%;
 }

 .galeri2{
    width: 100%;
    height: 266px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    position: absolute;
    border: 1px solid #009688;
 }
 #sec6{
  background: #F44336;
  padding-top: 10%;
  position: relative;
 }
 .custom-shape-divider-top-1719744178 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1719744178 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 73px;
}

.custom-shape-divider-top-1719744178 .shape-fill {
  fill: #FFFFFF;
}
 /* -----------------------------reprendre- section6------------------------------- */
 .global{
  display: flex;
  height: 85vh;
  gap: 2%;
 }
 .und{
  background-image: url(images/bakelistes.jpeg);
  background-size: cover;
  width: 40%;
  height: 70vh;
 }
 .deuxd{
  width: 60%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  gap: 3%;
 }
 .deux1{
  display: flex;
  gap: 3%;
  width: 100%;
  height: 100vh;
 }
  .div-img1{
    background-image: url('images/bakelistes2.jpeg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .div-img2{
    background-image: url('images/bakelistes3.jpeg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .div-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
 .deux2{
  display: flex;
  gap: 3%;
  width: 100%;
  height: 100vh;
 }


  /* ---------------------------------------------les images------------------- */

  .gal2-1, .gal2-2{
    display: flex;
    width: 60%;
  }
 /* ---------------------------------section6--------------------------------------------- */
 
 #coachs{
  display: flex;
  width: 20%;
  justify-content: center;
  height: 90%;
  align-items: center;
  flex-direction: column;  
  border : 1px solid #009688;
  margin-top: 3%;
  margin-bottom: 3%;
 }
 .galerie{
  height: auto;
}
 #h-cc{
  font-size: 15px;
 }
 #sec-footer{
    background: #EEF9F8E5;
 }
 #footer{
    display: flex;
    gap: -2%;
    width: 100%;
    margin-top: 5%;
    margin-left: 4%;
 }
 .titr-footer{
    margin-top: 5%;
 }
 .img-footer{
    width: 90%;
    background-color: #FFFFFF;
    height: 190px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    }
 #btn-footer{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 5%;
 }

 /* ---------------------------------------------footr-fin-------------------------------------- */
 #fotter-fin{
    display: flex;
    justify-content: flex-start;
    gap: 10%;
    margin-top: 4%;
    padding: 4%;
    background: #009688;
    width: 100%;

 }
 .sociaux{
    display: flex;
    justify-content: space-around;
 }
 #soci{
    color: white;
 }



/* ---------------------------media query--------------------------------------- */


